.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background: var(--main-button);
  z-index: 9;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;

  &__header {
    position: relative;
    padding: 18px 16px 12px 16px;
    margin-bottom: 46px;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    border-bottom: 1px solid var(--white);
  }

  &__btns {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 12px;
  }

  &__list {
    width: 100%;
    list-style: none;
    // padding-top: 63px;
    padding-bottom: 168px;    
  }

  

  &__link {
    
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--white);
    border-bottom: 0.5px solid rgba(250, 251, 255, 0.4);;

    &:hover,:focus {
      color: var(--content-primary);
    }
  }

  &__link.active {    
    padding: 16px 12px;
    background-color: var(--white);

    & .mobile-menu__text,
    .mobile-menu__number{
        color: var(--content-primary);
    }

    & .mobile-menu__icon{
        & path, rect{
            fill: var(--accent);
        }
    }
  }

  

  &__text-box{
    display: flex;
    gap: 12px;
  }


  &__text{
    font-family: var(--font-geist);
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: var(--white);
  }

  &__contacts-wrapper{
    // margin-top: 48px;
    padding: 0px 16px 24px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: 24px;
  }

  &__phone-box{
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__phone-title{
    font-family: var(--font-delight);
font-weight: 400;
font-size: 18px;
line-height: 100%;
color: var(--white);
  }

  &__phone-text{
    font-family: var(--font-delight);
font-weight: 400;
font-size: 18px;
line-height: 100%;
color: var(--white);
  }
}

.mobile-logo{
  width: 48px;
}

.mobile-menu__img{
  width: 100%;
}

.mobile-menu__title{
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  font-family: var(--font-geist);
font-weight: 700;
font-size: 78px;
line-height: 100%;
color: var(--white);
}

.mobile-menu__lang{
  .lang-select__icon{
    color: var(--white);
  }

  .lang-select__dropdown-text{
    color: var(--white);
  }

  .lang-select__btn-lang{
    color: var(--white);
  }
}