.button__link {
  position: relative;
  height: 48px;
  margin: 0 auto;

  &:hover,
  &:focus {
    .button__box-left {
      left: 50%;
      transform: translateX(-50%);
    }

    .button__box-right {
      right: 50%;
      transform: translateX(50%);
    }
  }
}

.button__box {
  position: absolute;
  width: 215px;
  height: 24px;
  background-image: var(--btn-background);
  transition: all 0.4s ease-in-out;

  &-left {
    top: 0;
    left: 0;
    transform: translateX(0);
  }

  &-right {
    bottom: 0;
    right: 0;
    transform: translateX(0);
  }
}

.button__text {
  width: 200px;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-family: var(--font-concreto);
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--white);
}

//phone button

.phone-btn {
  padding: 0px 16px;
  display: flex;
  align-items: center;
  background-color: transparent;
  transition: all 0.4s ease-in-out;
  border: 1px solid var(--content-primary);
  border-radius: 20px;
  gap: 8px;
  cursor: pointer;

  p {
    font-family: var(--font-azeret);
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: var(--content-primary);
    transition: all 0.2s ease-in-out;
  }

  &:hover,
  &:focus {
    background-color: var(--content-primary);

    p {
      color: var(--white);
    }

    .phone-icon {
      rect { fill: var(--white); }
      path { fill: var(--content-primary); }
    }
  }



  &--dark {
    border-color: var(--content-primary);

    p {
      color: var(--content-primary);
    }
  }

 
}

.phone-btn.phone-btn--policy  {
  border-color: var(--white);
}

.phone-btn.phone-btn--policy p {
  color: var(--white);
}
//menu-button

.menu-button {
  position: relative;
  gap: 6px;
  width: 32px;
  height: 32px;
  background: transparent;
  cursor: pointer;
  z-index: 0;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid var(--content-primary);
  border-radius: 4px;



  &--policy{
    border: 1px solid var(--background-primary)
  }

  &__lines {
    width: 20px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 32px;
    z-index: 10;
  }

  &__bar {
    height: 1px;
    background-color: var(--content-primary);
    transition: all 0.3s ease;
  }

  &__bar:nth-child(1),
  &__bar:nth-child(2),
  &__bar:nth-child(3),
  &__bar:nth-child(4) {
    display: inline-block;
    width: 20px;
  }

  &--open &__bar:nth-child(1) {
    background-color: var(--content-primary);
    position: absolute;
    height: 1px;
    top: 9px;
    left: 6px;
    width: 20px;
    transform: rotate(45deg) translateY(8px);
  }

  &--open &__bar:nth-child(2),
  &--open &__bar:nth-child(3) {
    opacity: 0;
  }

  &--open &__bar:nth-child(4) {
    background-color: var(--content-primary);
    position: absolute;
    top: 20.5px;
    left: 6px;
    width: 20px;
    transform: rotate(-45deg) translateY(-8px);
  }

  &--open {
    background-color: var(--white);
    border: 1px solid var(--content-primary);
  }
}

.menu-button--policy {
  .menu-button__box-left {
    background-color: var(--bg-color);
  }

  .menu-button__box-right {
    background-color: var(--bg-color);
  }

  .menu-button__bar {
    background-color: var(--white);
  }

  &.menu-button--open .menu-button__bar:nth-child(1),
  &.menu-button--open .menu-button__bar:nth-child(4) {
    background-color: var(--white);
  }
}

// form button

.form-button {
  position: relative;
  width: 100%;
  height: 132px;
  transition: all 0.4s ease-in-out;

  &__up {
    position: absolute;
    top: 0;
    left: 0;
    width: 95%;
    height: 66px;
    border-top: 1px solid var(--mobile-menu-text);
    border-left: 1px solid var(--mobile-menu-text);
    border-right: 1px solid var(--mobile-menu-text);
    transition: all 0.4s ease-in-out;
  }

  &__bottom {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 95%;
    height: 66px;
    border-bottom: 1px solid var(--mobile-menu-text);
    border-left: 1px solid var(--mobile-menu-text);
    border-right: 1px solid var(--mobile-menu-text);
    transition: all 0.4s ease-in-out;
  }

  &__text {
    width: 95%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    font-family: var(--font-gothic);
    font-weight: 400;
    font-size: 48px;
    line-height: 110%;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: var(--white);
    transition: all 0.4s ease-in-out;
  }

  @media screen and (max-width: 968px) {
    height: 48px;

    &__up {
      position: absolute;
      top: 0;
      left: 0;
      width: 95%;
      height: 24px;
      background-color: var(--white);
      transition: all 0.4s ease-in-out;
    }

    &__bottom {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 95%;
      height: 24px;
      background-color: var(--white);
      transition: all 0.4s ease-in-out;
    }

    &__text {
      color: var(--accent);
      font-family: var(--font-concreto);
      font-weight: 400;
      font-size: 15px;
      line-height: 100%;
      letter-spacing: 0.01em;
      text-transform: uppercase;
    }
  }

  &:hover,
  :focus {
    .form-button__up,
    .form-button__bottom {
      transition: all 0.4s ease-in-out;
    }

    .form-button__up {
      left: 50%;
      transform: translateX(-50%);
      background-color: var(--white);
      transition: all 0.4s ease-in-out;
    }

    .form-button__bottom {
      right: 50%;
      transform: translateX(50%);
      background-color: var(--white);
      transition: all 0.4s ease-in-out;
    }

    .form-button__text {
      color: var(--accent);
      transition: color 0.4s ease-in-out;
    }
  }
}

//call button

.call-btn {
  position: fixed;
  bottom: 24px;
  right: 24px;
  width: 52px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-button);
  border-radius: 50%;
  z-index: 99;
  cursor: pointer;
  transition: transform 0.3s ease;

  @media screen and (min-width: 969px){
    display: none;
  }

  // ефект при наведенні
  &:hover {
    transform: scale(1.05);
  }

  // пульсування
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--main-button);
    opacity: 0.6;
    animation: pulse 2s infinite;
    z-index: -1;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0.6;
  }
  70% {
    transform: scale(1.6);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.call-btn__icon {
  width: 42px;
  z-index: 1;
}
