.address__container{
    position: relative;
    padding-top: 160px !important;

    @media screen and (max-width: 968px){
    padding-top: 104px !important;
    }
}

.address__line{
    position: absolute;
    top: 0;
    width: 1px;
    height: 100%;
    background-color: rgba(18, 27, 96, 0.08);

    &-first{
        left:448px;
        @media screen and (max-width:968px){
            display: none;
        }
    }

    &-second{
        left: 472px;
        @media screen and (max-width:968px){
            display: none;
        }
    }

    &-third{
        right: 472px;
        @media screen and (max-width:968px){
            display: none;
        }
    }

    &-fourth{
        right: 448px;
        @media screen and (max-width:968px){
            display: none;
        }
    }
}

.address__title{
    margin-bottom: 48px;
    font-family: var(--font-delight);
font-weight: 700;
font-size: 48px;
line-height: 110%;
letter-spacing: -0.01em;
color: var(--content-primary);

@media screen and (max-width: 968px){
    
font-size: 32px;
}
}

.address__list{
    padding-bottom: 80px;
    display: flex;

    @media screen and (max-width:968px){
        flex-direction: column;
        padding-bottom: 64px;
    }
}

.address__item-first{
    margin-right: 302px;
    @media screen and (max-width:968px){
        margin-right: auto;
        margin-bottom: 40px;
    }
}

.address__item-second{
    margin-right: 164px;
    @media screen and (max-width:968px){
        margin-right: auto;
        margin-bottom: 40px;
    }
}

.address__wrapper:not(:last-child){
    margin-bottom: 48px;

    @media screen and (max-width: 968px){
        margin-bottom: 40px;
    }
}

.address__subtitle{
    margin-bottom: 16px;
    font-family: var(--font-inter);
font-weight: 500;
font-size: 16px;
line-height: 110%;
letter-spacing: -0.01em;
text-transform: uppercase;
color: var(--number);

@media screen and (max-width: 968px){
font-size: 16px;
}
}


.address__text{
    font-family: var(--font-inter);
font-weight: 600;
font-size: 24px;
line-height: 110%;
letter-spacing: -0.01em;
color: var(--content-primary);
white-space: pre-line;

&--phone{
    font-weight: 700;
}

@media screen and (max-width: 968px){
font-size: 20px;
}
}

.address__text:not(:last-child){
    margin-bottom: 16px;
}