.delivery{
    position: relative;
}

.delivery__container{
    height: 100%;
    position: relative;
    padding-top: 160px !important;
    padding-bottom: 96px !important;


}

.delivery__header{
    width: 100%;
    margin-bottom: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.delivery__line{
    position: absolute;
    top: 0;    
    z-index: 2;
    width: 1px;
    height: 100%;
    background-color: rgba(18, 27, 96, 0.08);


    &-first{
        // left: 810px;
        left: 32.8%;
    }

    &-second{
//   left: 832px;
left: 34.5%;

    }

    &-third{
        // left: 1164px;
        left: 57.4%;
      }
      
      &-fourth{
        // left: 1188px;
        left:59%;
      }
}


.delivery__line-fifth{
    position: absolute;
    left: 0;
    top: 262px;
    z-index: 2;
    width: 100%;
    height: 1px;
    background-color: var(--content-primary);
}



.delivery__title{
    font-family: var(--font-delight);
font-weight: 700;
font-size: 64px;
line-height: 120%;
text-transform: uppercase;
color: var(--content-primary);
}

.delivery__text{
    // width: 565px;
    font-family: var(--font-delight);
font-weight: 400;
font-size: 21.5px;
line-height: 120%;
color: var(--content-primary);
white-space: pre-line;
}


.delivery__box{
    display: flex;

    &-first{
        margin-bottom: 64px;
        justify-content: space-between;
        
    }

    &-second{
        gap: 24px;
    }
}

//delivery card

.delivery-card__first,
.delivery-card__third {
    cursor:url('../../../../public/assets/images/home/delivery/cursor.svg'), auto;
    width: 448px;
}

.delivery-card__second{
    cursor:url('../../../../public/assets/images/home/delivery/cursor.svg'), auto;

    width: 566px;
}

.delivery-card__fourth{
    cursor:url('../../../../public/assets/images/home/delivery/cursor.svg'),auto;

width: 330px;
}

.delivery-card__img{
    margin-bottom: 24px;
}

.delivery-card__img-first,
.delivery-card__img-third{
    height: 448px;
}

.delivery-card__img-second{
    height: 507px;
}

.delivery-card__img-fourth{
    height: 331px;
}

.delivery-card__box{
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
}

.delivery-card__title{
    margin-left: 16px;

    font-family: var(--font-delight);
font-weight: 600;
font-size: 24px;
line-height: 100%;
letter-spacing: -0.01em;
color: var(--content-primary);
}

.delivery-card__text{
    margin-left: 16px;

    font-family: var(--font-delight);
font-weight: 400;
font-size: 16px;
line-height: 120%;
color: var(--content-primary);
}

.delivery-card__link{
    cursor:url('../../../../public/assets/images/home/delivery/cursor.svg'), auto;

}

.delivery-card__cursor-text {
    position: fixed;
    pointer-events: none; 
    transform: translate(10%, 50%);
    background: var(--white);
    color: var(--main-button);
    padding: 6px 12px;
    border-radius: 20px;
    font-family: var(--font-delight);
font-weight: 600;
font-size: 12px;
line-height: 120%;
letter-spacing: -0.01em;
text-transform: uppercase;
color: #0e41da;
    white-space: nowrap;
    z-index: 9999;
    transition: opacity 0.2s ease;
  }