

.logistic__container{
    position: relative;
    padding-bottom: 160px !important;
    padding-top: 160px !important;
}

.logistic__line{
    position: absolute;
    top: 0;    
    z-index: 1;
    width: 1px;
    height: 100%;
    background-color: rgba(18, 27, 96, 0.08);


    &-first{
        // left: 810px;
        height: 50%;
        left: 32.7%;
    }

    &-second{
//   left: 832px;
height: 50%;
left: 34.5%;

    }

    &-third{
        // left: 1164px;
        left: 57.4%;
      }
      
      &-fourth{
        // left: 1188px;
        left:59%;
      }
}

.logistic__title{
    width: 676px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
    font-family: var(--font-delight);
font-weight: 700;
font-size: 48px;
line-height: 110%;
text-transform: uppercase;
text-align: center;
white-space: pre-line;
color: var(--content-primary);
}

.logistic__text{
    width: 772px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
    font-family: var(--font-delight);
font-weight: 400;
font-size: 20px;
line-height: 120%;
letter-spacing: -0.01em;
text-align: center;
white-space: pre-line;
color: var(--content-primary);
}