.accordion {
  position: relative;
  z-index: 2;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;

      @media screen and (max-width: 969px) {
    display: none;
  }
  }
  
  .accordion__item {
    height: 470px;
    padding: 40px 16px;
    width: 94px;
    background-color: var(--accordion-color);
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;

  //     @media screen and (max-width: 969px) {
  //   width: 100%;
  //   height: auto;
  //   flex-direction: column;
  //   align-items: flex-start;
  //   padding: 24px 16px;
  //   border-radius: 16px;
  // }

    .accordion__header {
        border-right: none;

    //         @media screen and (max-width: 969px) {
    //   border-bottom: 1px solid var(--line-color);
    //   width: 100%;
    //   flex-direction: row;
    //   justify-content: space-between;
    //   align-items: center;
    // }
    }

    .accordion__key, .accordion__title{
        color: var(--content-primary);
    }

            .accordion__content {
                opacity: 0;
                transition: opacity 0.3s ease;
              }

  
    &.active {
    padding: 40px 30px;
      width: 826px;
      background: var(--main-button);
      color: var(--white);
      align-items: flex-start;

    //       @media screen and (max-width: 969px) {
    //   width: 100%;
    //   padding: 24px 16px;
    //   background: var(--main-button);
    //   color: var(--white);
    // }


      .accordion__header {
        // width: 94px;
        padding-right: 30px;
        border-right: 1px solid var(--line-color);

      //         @media screen and (max-width: 969px) {
      //   border-right: none;
      //   border-bottom: 1px solid var(--line-color);
      // }
    }

      .accordion__key{
        color: var(--white);
    }
  
    .accordion__title {
color: var(--white);
    }

    .accordion__content {
        opacity: 1;
    padding-left: 64.5px;
      }
    }
  }
  
  .accordion__header {
    height: 386px;
    border-right: 1px solid var(--line-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .accordion__key{
      // width: 40px;
        font-family: var(--font-geist);
font-weight: 700;
font-size: 24px;
text-align: center;
    }
  
    .accordion__title {
      width: 40px;
      display: block;
      // margin-bottom: 24px;
      font-family: var(--font-delight);
font-weight: 700;
font-size: 32px;
text-align: start;
    transform: rotate(-90deg);


    //     @media screen and (max-width: 969px) {
    //   transform: none;
    //   font-size: 20px;
    // }
    }
  }
  
  .accordion__content {
    height: 100%;
    max-width: 0;
    overflow: hidden;
    transition: max-width 0.5s ease, opacity 0.3s ease;

    //     @media screen and (max-width: 969px) {
    //   max-height: 0;
    //   overflow: hidden;
    //   transition: max-height 0.4s ease, opacity 0.3s ease;
    // }
  }

  .accordion__content.open {
    max-width: 836px; 
    // opacity: 1;
  }

  .accordion__content-title{
    margin-bottom: 24px;
    font-family: var(--font-delight);
font-weight: 700;
font-size: 32px;
color: var(--white);
  }

  .accordion__text{
    font-family: var(--font-delight);
font-weight: 400;
font-size: 16px;
line-height: 130%;
color: var(--white);
white-space: pre-line;

  }

  .accordion__text:not(:last-of-type) {
    margin-bottom: 40px;
  }

  .accordion__text-last{
    margin-bottom: 16px;
  }
  

  .accordion__subtitle{
    margin-bottom: 16px;
    font-family: var(--font-delight);
font-weight: 700;
font-size: 24px;
color: var(--white);
  }

  .accordion__btn{
    display: inline-block;
    padding: 8px 16px;
    // margin-top: auto;
    border: 1px solid var(--white);
    background-color: var(--white);
    border-radius: 20px;
    font-family: var(--font-geist);
font-weight: 400;
font-size: 16px;
line-height: 120%;
letter-spacing: -0.01em;
color: var(--content-primary);
transition: all 0.3s ease-in-out;

&:hover{
  color: var(--white);
transition: all 0.3s ease-in-out;
background-color: transparent;
}
  }

