.footer {
  // position: fixed;
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  background-color: var(--main-button);
}

.footer__container{
  position: relative;
  height: 502px;
  
}

.footer__wrapper-first{
  display: flex;
  align-items: start;
  padding-top:49px;
  margin-bottom: 167px;
}

.footer__logo-link{
  margin-right: 432px;
  width: 64px;
  height: 56px;
}

.footer__contact{
  margin-right: 160px;
  display: flex;
  gap: 112px;
}

.footer__mail,
.footer__tel{
  font-family: var(--font-delight);
font-weight: 700;
font-size: 28px;
line-height: 100%;
color: var(--white);
}

.footer__tel-box{
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer__btn{
  display: flex;
  align-items: center;
  gap: 18px;
  transition: all 0.3s ease-in-out;

  &:hover{

    .footer__btn-text{
      color: var(--white);
    }
    .footer__btn-text::after {
      width: 100%;
      background-color: var(--white);

    }
    .up-icon{
      fill: var(--white);
      transition: all 0.5s ease-in-out;
      circle{
      transition: all 0.5s ease-in-out;

        stroke: var(--white);
      }
      
    
      path{
      transition: all 0.5s ease-in-out;

        stroke: var(--content-primary);
    
      }
    }
  }
}

.up-icon{
  fill: none;
  transition: all 0.5s ease-in-out;

  circle{
    transition: all 0.5s ease-in-out;

    stroke: var(--white);
  }
  

  path{
    transition: all 0.5s ease-in-out;

    stroke: var(--white);

  }
}

.footer__btn-text{
  position: relative;
  font-family: var(--font-delight);
font-weight: 400;
font-size: 16px;
line-height: 120%;
letter-spacing: -0.01em;
color: var(--white);
transition: all 0.3s ease-in-out;
&::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 0;
  background-color: var(--white);
  transition: width 0.5s ease;
}
}

.footer__btn-icon{
  width: 40px;
  height: 40px;
  transition: all 0.3s ease-in-out;

}

.footer__wrapper-second{
  display: flex;
}

.footer__rights{
  margin-left: 24px;
  margin-right: 354px;

  font-family: var(--font-inter);
font-weight: 500;
font-size: 14px;
line-height: 120%;
letter-spacing: -0.01em;
color: rgba(255, 255, 255, 0.6);
}

.footer__nav{
  margin-right: 232px;
  margin-bottom: 32px;
}

.footer__nav-title,
.footer__address-title{
  margin-bottom: 16px;
  font-family: var(--font-inter);
font-weight: 400;
font-size: 20px;
line-height: 120%;
letter-spacing: -0.01em;
text-transform: uppercase;
color: var(--footer-title);
}

.footer__item{
  margin-bottom: 8px;
}

.footer__nav-link{
  font-family: var(--font-delight);
font-weight: 500;
font-size: 16px;
line-height: 120%;
letter-spacing: -0.01em;
color: var(--footer-title);
text-transform: capitalize;

&:hover, :focus{
  font-weight: 700;
  color: var(--white);
}

&.active{
  font-weight: 700;
  color: var(--white);
}
}

.footer__policy{
  text-transform: none;
}


.footer__address{
  width: 238px;
  font-family: var(--font-delight);
font-weight: 500;
font-size: 16px;
line-height: 120%;
letter-spacing: -0.01em;
white-space: pre-line;
color: var(--white);
}


.line-first, .line-second, .line-third, .line-fourth{
  position: absolute;
  top: 0;
  background-color: var(--line-color);
  width: 1px;
  height: 100%;
}

.line-first{
  left: 472px;
}

.line-second{
  left: 496px;
}

.line-third{
  left: 826px;
}

.line-fourth{
  left: 850px;
}

.line-fifth{
  position: absolute;
  top: 248px;
  left: 0;
  background-color: var(--line-color);
  width: 100%;
  height: 1px;
}