.partners-home{
    border-top: 1px solid var(--content-primary);
    border-bottom: 1px solid var(--content-primary);
}

.partners-services{
    margin-bottom: 100px;
    border-top: 1px solid var(--content-primary);
    border-bottom: 1px solid var(--content-primary);
}
.partners-home__container, .partners-services__container{
    position: relative;
}

.partners-home__line{
    position: absolute;
    top: 0;    
    z-index: 2;
    width: 1px;
    height: 100%;
    background-color: rgba(18, 27, 96, 0.08);


    &-first{
        // left: 810px;
        left: 32.8%;
    }

    &-second{
//   left: 832px;
left: 34.5%;

    }

    &-third{
        // left: 1164px;
        left: 57.4%;
      }
      
      &-fourth{
        // left: 1188px;
        left:59%;
      }
}

.partners-home__content, .partners-services__content{
    padding: 24px 0;
    display: flex;
    align-items: center;
}

.partners-home__title, .partners-services__title{    
    font-family: var(--font-azeret);
font-weight: 600;
font-size: 16px;
line-height: 110%;
text-transform: uppercase;
color: var(--content-primary);
}

// .partners__main-line{
//     width: 1px;
//     height: 100%;
//     margin-left: 56px;
//     background-color: var(--content-primary);
// }