.hero {
    position: relative;
    --content-height: 0px;
    overflow: visible;
    height: 150vh;

    @media screen and (max-width: 969px){
    height: 130vh;
    }
  }
  
  .hero__container {
    position: relative;
    width: 100%;
  }
  

  .hero__content {
    padding-top: 150px;
    padding-bottom: 120px;
    position: sticky;
    top: 0;
    z-index: 3;
    background: transparent;

    @media screen and (max-width: 969px){
      padding-top: 120px;
      padding-bottom: 0px;
    }
  }
  

  .hero__wrapper {
    position: absolute;
    top: 92%;
    right: 24px;
    transform: translateY(-50%);
    display: flex;
    gap: 40px;

    @media screen and (max-width: 969px){
      margin-bottom: 40px;
      position: static;
    top: auto;
    right: auto;
    transform: none;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    }
  }
  
  .hero__text {
    width: 300px;
    font-family: var(--font-delight);
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
    color: var(--content-primary);

    @media screen and (max-width: 969px){
      text-align: center;
    }
  }
  
  .hero__link {
    padding: 14px 40px;
    border-radius: 20px;
    border: 1px solid var(--main-button);
    background-color: var(--main-button);
    font-family: var(--font-geist);
    font-weight: 600;
    font-size: 16px;
    color: var(--white);

    @media screen and (max-width: 969px){
    padding: 14.5px 48px;
    }
  }
  

  .hero__image {
    position: relative;
    margin-top: 50px;
    height: calc(100vh + var(--content-height)); 
  }
  
  .hero__image-inner {
    position: sticky;
    top: var(--content-height); 
    height: 100vh;
    z-index: 10;
  }
  
  .hero__image-inner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;

    @media screen and (max-width: 969px){
      width: 100%;
    height: auto;
    }
  }
  
  .hero__title {
    font-family: var(--font-delight);
    font-weight: 600;
    font-size: 60px;
    line-height: 1.1;
    text-transform: uppercase;
    color: var(--content-primary);
    white-space: pre-line;

    @media screen and (max-width: 969px){
      display: none;
    }

    &-mobile{
    width: 348px;
      margin-bottom: 16px;
      font-family: var(--font-delight);
font-weight: 600;
font-size: 27px;
line-height: 110%;
letter-spacing: -0.02em;
text-transform: uppercase;
text-align: center;
color: var(--content-primary);
    white-space: pre-line;
      @media screen and (min-width: 968px){
        display: none;
      }
    }
  }
  
