.convenient-home, .convenient-services{
    position: relative;
}

.convenient-home__container{
    position: relative;
    padding-bottom: 160px !important;
}

.convenient-services__container{
    position: relative;
    padding-bottom: 96px !important;
}

.convenient-home__line-vertical{
    position: absolute;
    top: 0;    
    z-index: 2;
    width: 1px;
    height: 100%;
    background-color: rgba(18, 27, 96, 0.08);

    &-third{
        // left: 1164px;
        left: 57.4%;
      }
      
      &-fourth{
        // left: 1188px;
        left:59%;
      }
}

 .convenient-services__line-vertical{
    position: absolute;
    top: 143px;    
    z-index: 2;
    width: 1px;
    height: 92.2%;
    background-color: rgba(18, 27, 96, 0.08);

    &-third{
        // left: 1164px;
        left: 57.4%;
      }
      
      &-fourth{
        // left: 1188px;
        left:59%;
      }
}

.convenient-home__title, .convenient-services__title{
    position: relative;
    z-index: 3;
    width: 555px;
    margin-bottom: 62px;
    font-family: var(--font-delight);
font-weight: 700;
font-size: 48px;
line-height: 120%;
text-transform: uppercase;
white-space: pre-line;
color: var(--content-primary);
}

.convenient-home__line, .convenient-services__line{
    position: absolute;
    left: 0;
    top: 154px;
    height: 1px;
    width: 100%;
    background-color: var(--content-primary);
}

.convenient-home__item, .convenient-services__item{
    position: relative;
    display: flex;
    // border-bottom: 1px solid rgba(18, 27, 96, 0.08);
    padding: 44px 0;
}

.convenient-home__item:not(:last-child), .convenient-services__item:not(:last-child){
    border-bottom: 1px solid rgba(18, 27, 96, 0.08);

}

.convenient-home__line-horizontal, .convenient-services__line-horizontal{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    background-color: rgba(18, 27, 96, 0.08);
}

// .convenient__item:not(:last-child){
//     margin-bottom: 88px;
// }

.convenient-home__item-number, .convenient-services__item-number{
    margin-right: 51px;
    font-family: var(--font-geist);
font-weight: 400;
font-size: 16px;
line-height: 120%;
text-transform: uppercase;
text-align: center;
color: rgba(18, 27, 96, 0.6);
}

.convenient-home__item-img, .convenient-services__item-img{
    position: relative;
    z-index: 3;
    margin-right: 96px;
    width: 683px;
height: 288px;
}

// .convenient__item-wrapper{
//     // width: 482px;
// }

.convenient-home__item-title, .convenient-services__item-title{
    margin-bottom: 24px;
    font-family: var(--font-delight);
font-weight: 700;
font-size: 32px;
white-space: pre-line;
color: var(--content-primary);
}

.convenient-home__item-text, .convenient-services__item-text{
    font-family: var(--font-delight);
font-weight: 400;
font-size: 16px;
line-height: 120%;
color: var(--content-primary);
}