.convenient-home, .convenient-services{
    position: relative;
}

.convenient-home__container{
    position: relative;
    padding-bottom: 160px !important;

    @media screen {
    padding-bottom: 104px !important;
    }
}

.convenient-services__container{
    position: relative;
    padding-bottom: 96px !important;
}

.convenient-home__line-vertical{
    position: absolute;
    top: 0;    
    z-index: 2;
    width: 1px;
    height: 100%;
    background-color: rgba(18, 27, 96, 0.08);

    &-third{
        // left: 1164px;
        left: 57.6%;
        @media screen and (max-width: 968px){
            display: none;
        }
      }
      
      &-fourth{
        // left: 1188px;
        left:59.3%;
        @media screen and (max-width: 968px){
            display: none;
        }
      }
}

 .convenient-services__line-vertical{
    position: absolute;
    top: 143px;    
    z-index: 2;
    width: 1px;
    height: 92.2%;
    background-color: rgba(18, 27, 96, 0.08);

    &-third{
        // left: 1164px;
        left: 57.4%;
        @media screen and (max-width: 968px){
            display: none;
        }
      }
      
      &-fourth{
        // left: 1188px;
        left:59%;
        @media screen and (max-width:968px){
            display: none;
        }
      }
}

.convenient-home__title, .convenient-services__title{
    position: relative;
    z-index: 3;
    width: 655px;
    margin-bottom: 62px;
    font-family: var(--font-delight);
font-weight: 700;
font-size: 48px;
line-height: 120%;
text-transform: uppercase;
white-space: pre-line;
color: var(--content-primary);

@media screen and (max-width: 968px){
    width: 100%;
    margin-bottom: 20px;
font-size: 28px;
line-height: 110%;
letter-spacing: -0.02em;
}
}

.convenient-home__line, .convenient-services__line{
    position: absolute;
    left: 0;
    top: 154px;
    height: 1px;
    width: 100%;
    background-color: var(--content-primary);

    @media screen and (max-width: 968px){
        top: 86px;
    }
}

.convenient-home__item, .convenient-services__item{
    width: 100%;
    position: relative;
    display: flex;
    gap: 96px;
    // border-bottom: 1px solid rgba(18, 27, 96, 0.08);
    padding: 44px 0;

    @media screen and (max-width:968px){
        flex-direction: column;
        padding: 36px 0;
        gap: 0;

        &:last-child{
            padding-bottom: 0;
        }
    }
}

.convenient-home__item:not(:last-child), .convenient-services__item:not(:last-child){
    border-bottom: 1px solid rgba(18, 27, 96, 0.08);

}

.convenient-home__line-horizontal, .convenient-services__line-horizontal{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    background-color: rgba(18, 27, 96, 0.08);
}

// .convenient__item:not(:last-child){
//     margin-bottom: 88px;
// }

.convenient-home__item-header, .convenient-services__item-header{
    width: 55%;
     display: flex;
    @media screen and (max-width: 968px){
        width: 100%;
        margin-bottom: 24px;
    }

}

.convenient-home__item-wrapper, .convenient-services__item-wrapper{
    width: 40%;
    @media screen and (max-width: 968px){
        width: 100%;
    }
}


.convenient-home__item-number, .convenient-services__item-number{
    margin-right: 51px;
    font-family: var(--font-geist);
font-weight: 400;
font-size: 16px;
line-height: 120%;
text-transform: uppercase;
text-align: center;
color: rgba(18, 27, 96, 0.6);

@media screen and (max-width:968px){
    margin-right: 16px;
}
}

.convenient-home__item-img, .convenient-services__item-img{
    // display: block;
    position: relative;
    z-index: 3;
    // margin-right: 96px;
    width: 683px;
height: 288px;
@media screen and (max-width:968px){
    width: 322px;
    height: 356px;
}
}

// .convenient__item-wrapper{
//     // width: 482px;
// }

.convenient-home__item-title, .convenient-services__item-title{
    margin-bottom: 24px;
    font-family: var(--font-delight);
font-weight: 700;
font-size: 32px;
white-space: pre-line;
color: var(--content-primary);

@media screen and (max-width: 968px){
    margin-bottom: 16px;
font-size: 28px;
line-height: 120%;
}
}

.convenient-home__item-text, .convenient-services__item-text{
    font-family: var(--font-delight);
font-weight: 400;
font-size: 16px;
line-height: 120%;
color: var(--content-primary);
}