.contact-form{
    position: relative;
}


.contact-form__container{
    position: relative;
    padding-bottom: 160px !important;

}

.contact-form__line-vertical{
    position: absolute;
    top: 0;    
    z-index: 2;
    width: 1px;
    height: 100%;
    background-color: rgba(18, 27, 96, 0.08);



    &-third{
        // left: 1164px;
        left: 57.4%;
      }
      
      &-fourth{
        // left: 1188px;
        left:59%;
      }
}

.contact-form__title{
    width: 795px;
    margin-bottom: 96px;
    font-family: var(--font-delight);
font-weight: 800;
font-size: 48px;
line-height: 100%;
color: var(--content-primary);
}

.contact-form__line{
    position: absolute;
    height: 0.5px;
    width: 100%;
    left: 0;
    top: 125px;
    background-color: var(--content-primary);
}

.contact-form__wrapper{
    display: flex;
}

.contact-form__img{
    width: 566px;
    height: 681px;
    margin-left: 56px;
}