.contact-form{
    position: relative;
}


.contact-form__container{
    position: relative;
    padding-bottom: 160px !important;

    @media screen and (max-width: 968px){
    padding-bottom: 104px !important;
    }
}

.contact-form__line-vertical{
    position: absolute;
    top: 0;    
    z-index: 2;
    width: 1px;
    height: 100%;
    background-color: rgba(18, 27, 96, 0.08);



    &-third{
        // left: 1164px;
        left: 57.4%;

        @media screen and (max-width: 968px){
            display: none;
        }
      }
      
      &-fourth{
        // left: 1188px;
        left:59%;
        @media screen and (max-width: 968px){
            display: none;
        }
      }
}

.contact-form__title{
    width: 795px;
    margin-bottom: 96px;
    font-family: var(--font-delight);
font-weight: 800;
font-size: 48px;
line-height: 100%;
color: var(--content-primary);

@media screen and (max-width: 968px){
    width: 100%;
    margin-bottom: 56px;
font-size: 26px;
font-weight: 700;
line-height: 110%;
letter-spacing: -0.02em;
text-transform: uppercase;
white-space: pre-line;
}
}

.contact-form__line{
    position: absolute;
    height: 0.5px;
    width: 100%;
    left: 0;
    top: 125px;
    background-color: var(--content-primary);

@media screen and (max-width:968px){
    top: 38%;
}
}

.contact-form__wrapper{
    display: flex;
}

.contact-form__img{
    width: 566px;
    height: 681px;
    margin-left: 56px;

    @media screen and (max-width:968px){
        display: none;
    }
}

.contact-form__img-mobile{
    margin-bottom: 40px;
    @media screen and (min-width:969px){
        display: none;
    }
}