.convenient{
}

.convenient__container{
    position: relative;
    padding-bottom: 160px !important;
}

.convenient__line-vertical{
    position: absolute;
    top: 0;    
    z-index: 2;
    width: 1px;
    height: 100%;
    background-color: rgba(101, 97, 97, 0.2);

    &-first{
        // left: 810px;
        left: 32.7%;
    }

    &-second{
//   left: 832px;
left: 34.5%;

    }

    &-third{
        // left: 1164px;
        left: 57.4%;
      }
      
      &-fourth{
        // left: 1188px;
        left:59%;
      }
}

.convenient__title{
    position: relative;
    z-index: 3;
    width: 555px;
    margin-bottom: 104px;
    font-family: var(--font-delight);
font-weight: 800;
font-size: 48px;
line-height: 120%;
text-transform: uppercase;
white-space: pre-line;
color: var(--content-primary);
}

.convenient__line{
    position: absolute;
    left: 0;
    top: 144px;
    height: 1px;
    width: 100%;
    background-color: var(--content-primary);
}

.convenient__item{
    display: flex;
}

.convenient__item:not(:last-child){
    margin-bottom: 88px;
}

.convenient__item-number{
    margin-right: 51px;
    font-family: var(--font-geist);
font-weight: 400;
font-size: 16px;
line-height: 120%;
text-transform: uppercase;
text-align: center;
color: rgba(18, 27, 96, 0.6);
}

.convenient__item-img{
    position: relative;
    z-index: 3;
    margin-right: 96px;
    width: 683px;
height: 288px;
}

.convenient__item-wrapper{
    width: 482px;
}

.convenient__item-title{
    margin-bottom: 24px;
    font-family: var(--font-delight);
font-weight: 700;
font-size: 32px;
white-space: pre-line;
color: var(--content-primary);
}

.convenient__item-text{
    font-family: var(--font-delight);
font-weight: 400;
font-size: 16px;
line-height: 120%;
color: var(--content-primary);
}