.qa{
    padding-top: 160px;
    padding-bottom: 160px;
}

.qa__title{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    font-family: var(--font-delight);
    font-weight: 800;
    font-size: 48px;
    line-height: 110%;
    text-transform: uppercase;
    text-align: center;
    color: var(--content-primary);
}