@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Geist+Mono:wght@100..900&display=swap');




@font-face {
  font-family: "Delight-Thin";
  src: url("/fonts/Delight-Thin.woff2") format("woff2"),
    url("/fonts/Delight-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Delight-ExtraLight";
  src: url("/fonts/Delight-ExtraLight.woff2") format("woff2"),
    url("/fonts/Delight-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: "Delight-Light";
  src: url("/fonts/Delight-Light.woff2") format("woff2"),
    url("/fonts/Delight-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: "Delight-Regular";
  src: url("/fonts/Delight-Regular.woff2") format("woff2"),
    url("/fonts/Delight-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Delight-Medium";
  src: url("/fonts/Delight-Medium.woff2") format("woff2"),
    url("/fonts/Delight-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Delight-SemiBold";
  src: url("/fonts/Delight-SemiBold.woff2") format("woff2"),
    url("/fonts/Delight-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: "Delight-Bold";
  src: url("/fonts/Delight-Bold.woff2") format("woff2"),
    url("/fonts/Delight-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Delight-ExtraBold";
  src: url("/fonts/Delight-ExtraBold.woff2") format("woff2"),
    url("/fonts/Delight-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: "Delight-Black";
  src: url("/fonts/Delight-Black.woff2") format("woff2"),
    url("/fonts/Delight-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}